.Ad {
  border: 2px solid black;
}

.voteForContainer {
  border: 2px solid #222;
  color: #000;
  box-shadow: 1px 1px 2px 0px;
  text-align: center;
}

.darkTheme {
  background-color: #222;
  color: #fff;
  box-shadow: 0px 0px 5px 4px gray;
}
