.AdDesigner {
  font-family: sans-serif;
  margin: 10px;
  flex: 1;
}

.AdDesigner h2,
.AdDesigner h3 {
  font-family: "Caveat", cursive;
}

.AdDesigner p {
  padding: 5px;
  font-weight: bold;
}

button:disabled {
  background-color: gray;
}
