button {
  background-color: #0e3c7e;
  color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

button:hover {
  background-color: #1e60a9;
  cursor: pointer;
}

.voteForContainer {
  width: 20em;
}

@media only screen and (min-width: 760px) {
  .main-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 10px;
  }
}
